# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain


bin/ export-ignore
tests/ export-ignore
.gitignore export-ignore
.travis.yml export-ignore
CHANGELOG.md export-ignore
Makefile export-ignore
phpdoc.xml.dist export-ignore
README.rst export-ignore

